In [28]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('fuel.csv', encoding='utf-16', sep='\t')
df

,Região - Sigla,Estado - Sigla,Município,Revenda,CNPJ da Revenda,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,DIESEL,16/01/2019,"3,799","3,2166",R$ / litro,RAIZEN
1,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,DIESEL,23/01/2019,"3,799",NaN,R$ / litro,RAIZEN
2,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,DIESEL S10,16/01/2019,"3,899","3,2638",R$ / litro,RAIZEN
3,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,DIESEL S10,23/01/2019,"3,899",NaN,R$ / litro,RAIZEN
4,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,16/01/2019,"3,299","2,9999",R$ / litro,RAIZEN
...,...,...,...,...,...,...,...,...,...,...,...
496221,SE,SP,VOTUPORANGA,VITORIA COMERCIO DE COMBUSTIVEIS DE VOTUPORANG...,2472382000181,GASOLINA,27/02/2019,"4,199","3,8478",R$ / litro,IPIRANGA
496222,SE,SP,VOTUPORANGA,VITORIA COMERCIO DE COMBUSTIVEIS DE VOTUPORANG...,2472382000181,GASOLINA,27/06/2019,"4,349","3,8905",R$ / litro,IPIRANGA
496223,SE,SP,VOTUPORANGA,VITORIA COMERCIO DE COMBUSTIVEIS DE VOTUPORANG...,2472382000181,GASOLINA,28/03/2019,"4,199",NaN,R$ / litro,IPIRANGA
496224,SE,SP,VOTUPORANGA,VITORIA COMERCIO DE COMBUSTIVEIS DE VOTUPORANG...,2472382000181,GASOLINA,29/05/2019,"4,449","4,0507",R$ / litro,IPIRANGA
496225,SE,SP,VOTUPORANGA,VITORIA COMERCIO DE COMBUSTIVEIS DE VOTUPORANG...,2472382000181,GASOLINA,31/01/2019,"4,199","3,7437",R$ / litro,IPIRANGA

In [41]:
price_by_state = df.filter(items=['Estado - Sigla', 'Produto', 'Valor de Venda'])
price_by_state['Valor de Venda'] = price_by_state['Valor de Venda'].apply(lambda x: float(str(x).replace(',', '.')))
df['Valor de Compra'] = df['Valor de Compra'].apply(lambda x: float(str(x).replace(',', '.')))

In [4]:
price_by_state

       Estado - Sigla     Produto  Valor de Venda
0                  DF      DIESEL           3.799
1                  DF      DIESEL           3.799
2                  DF  DIESEL S10           3.899
3                  DF  DIESEL S10           3.899
4                  DF      ETANOL           3.299
...               ...         ...             ...
496221             SP    GASOLINA           4.199
496222             SP    GASOLINA           4.349
496223             SP    GASOLINA           4.199
496224             SP    GASOLINA           4.449
496225             SP    GASOLINA           4.199

[496226 rows x 3 columns]

In [27]:
states = [x for x in price_by_state['Estado - Sigla'].unique()]
products = [x for x in price_by_state['Produto'].unique()]
prices = []

for state in states:
    for product in products:
        prices.append([state, product, price_by_state[(price_by_state['Estado - Sigla'] == state) & (price_by_state['Produto'] == product)].mean().values[0]])

In [29]:
del price_by_state

In [35]:
prices[0]

['DF', 'DIESEL', 3.7044369885433714]

In [43]:
price_by_state = pd.DataFrame({'Estado - Sigla': [x[0] for x in prices], 'Produto': [x[1] for x in prices], 'Preço Médio': [x[2] for x in prices]})

In [44]:
price_by_state.shape

(135, 3)

In [45]:
price_by_state.to_csv('datasets/price_by_state.csv', sep=';')